<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../Css/index.css" />
    <link rel="stylesheet" href="../../Css/index1.css" />
    <link rel="stylesheet" href="../../Css/index2.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <script
      src="https://kit.fontawesome.com/c3ed8d5e1d.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />
    <title>Mausam</title>
    <link rel="shortcut icon" type="image" href="../../Images/titleicon.png" />
  </head>
  <body>

    <div class="back">
      <img class="background" src="../../Images/DAYTIME.jpg" alt="" />
    </div>

    <div class="Mausam">
      <div class="watcha">

      </div>
      <h1 class="head">MAUSAM</h1>
      {{!-- <div class="watcha">
        <h1 class="time">2:12PM</h1>
        <h3 class="date">20 SEPT,2021</h3>
        <h4 class="day">MON</h4>
      </div> --}}
    </div>

    <div class="mainbody">
      <div class="weatherdetails">
        <div class="searchbar">
          <div class="elements">
            <div class="city">
              <input
                type="text"
                name="name"
                class="search"
                placeholder="Enter location"
                required
              />
            </div>
            <div class="icon">
              <a href="#"><i class="iconse fas fa-search-location"></i></a>
            </div>
          </div>
        </div>
        <div class="display">
          <div class="weatherimg">
            <img class="sun" src="../../Images/SUNNY.jpg" alt="" />
            <img class="cloud1" src="../../Images/CLOUD.png" alt="" />
            <img class="cloud2" src="../../Images/CLOUD.png" alt="" />

          </div>
          <div class="rain"></div>
          <div class="replacement1">
            <div class="replacement2">
              <h4 class="cityname">N/A</h4>
              <h6 class="weather">N/A</h6>
              <div class="Temp"><h1 class="temperature">N/A</h1>
                <p class="degree"><sup>&deg;</sup></p></div>
              <div class="humwind">
                <div class="humid">
                  <h5 class="humidityTitle">Humidity</h5>
                  <h5 class="humidity">N/A</h5>
                </div>
                <div class="line"></div>
                <div class="wind">
                  <h5 class="windspeedTilte">WindSpeed</h5>
                  <h5 class="windspeed">N/A</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="watch">
        <h1 class="clock">N/A</h1>
        <h3 class="Date">N/A</h3>
        <h4 class="Day">N/A</h4>
      </div>
    </div>
    <script src="../../Js/app.js"></script>
  </body>
</html>